nav {
  padding: 10px;
  background-color: #333;
  color: #fff;
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
 
  h1 {
    margin: 0;
    font-size: 35px; 
  }

  .navbar-link {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px; 
    background-color: #a53e3e; 
    border-radius: 5px; 
    transition: background-color 0.3s ease;
    margin-left: auto; 
    
    &:hover {
      background-color: #5e2b2b; 
    }
  }

  @media (max-width: 600px) {
    flex-direction: row; 
    justify-content: space-between; 

    h1 {
      font-size: 28px; 

    .navbar-link {
      margin-left: 0; 
  }
}
}}